<p id="notice"><%= notice %></p>

<h1>Mobile Releases</h1>

<table>
  <thead>
    <tr>
      <th>Build code</th>
      <th>Android update type</th>
      <th>Ios update type</th>
      <th>Android number of installs</th>
      <th>Ios number of installs</th>
      <th>Maintenance mode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mobile_releases.each do |mobile_release| %>
      <tr>
        <td><%= mobile_release.build_code %></td>
        <td><%= mobile_release.android_update_type %></td>
        <td><%= mobile_release.ios_update_type %></td>
        <td><%= mobile_release.android_number_of_installs %></td>
        <td><%= mobile_release.ios_number_of_installs %></td>
        <td><%= mobile_release.maintenance_mode %></td>
        <td><%= link_to 'Show', mobile_release %></td>
        <td><%= link_to 'Edit', edit_mobile_release_path(mobile_release) %></td>
        <td><%= link_to 'Destroy', mobile_release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobile Release', new_mobile_release_path %>
