<p id="notice"><%= notice %></p>

<p>
  <strong>Build code:</strong>
  <%= @mobile_release.build_code %>
</p>

<p>
  <strong>Android update type:</strong>
  <%= @mobile_release.android_update_type %>
</p>

<p>
  <strong>Ios update type:</strong>
  <%= @mobile_release.ios_update_type %>
</p>

<p>
  <strong>Android number of installs:</strong>
  <%= @mobile_release.android_number_of_installs %>
</p>

<p>
  <strong>Ios number of installs:</strong>
  <%= @mobile_release.ios_number_of_installs %>
</p>

<p>
  <strong>Maintenance mode:</strong>
  <%= @mobile_release.maintenance_mode %>
</p>

<%= link_to 'Edit', edit_mobile_release_path(@mobile_release) %> |
<%= link_to 'Back', mobile_releases_path %>
