<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @player.game_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @player.user_id %>
</p>

<p>
  <strong>Win status:</strong>
  <%= @player.win_status %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
